.button {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(10, 120, 10);
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.8),
    inset rgba(0, 0, 0, 0.3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, 0.5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 250ms var(--timingFn);
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(20, 130, 20);
}
