.section {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  box-shadow: var(--boxShadow);
  border: 2px solid rgb(10, 120, 10);
}

.title {
  font-weight: 700;
  font-size: 22px;
}
